// The old cbf file...

// just some throw away layout for the reset page

html {
  background-color: #f5f5f5;
}

body {
  text-align: center;
  font-family: 'Ideal Sans A', 'Ideal Sans B';
  font-weight: 400;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.wrapper--people {
  margin-top: 35px;
  max-width: 600px;
  margin: 0 auto;
}

.wrapper--icon {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.wrapper--logo {
  max-width: 100px;
  margin: 0 auto;
  margin-top: 100px;
}


// copy

.intro__copy {
  font-family: 'Ideal Sans A', 'Ideal Sans B';
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  // padding-bottom: 30px;
}

.header__copy {
  font-weight: 500;
  max-width: 460px;
  margin: 0 auto;
  padding-top: 20px;
}

.copy {
  max-width: 460px;
  margin: 0 auto;

  h3 {
    font-size: 18px;
    padding-bottom: 10px;
  }

  p {
    margin-bottom: 85px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.padded_copy {
  @extend .copy;
  padding-top: 35px;
}

// media ... comment


.media {
  width: 80%;
  margin: 0 auto;

  @include breakpoint(portrait) {
    width: 40%;
  }
}

.media--people {
  display: inline-block;
  width: 28%;
  margin: 10px;
}

.media__image {
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 50%;
  margin: 0 auto;
  background-image: url('/assets/img/giftest.gif');
  background-size: 90%;
  background-repeat: no-repeat;
  background-color: #0d9da7;
  background-position: center;
}

.media__image--2 {
  @extend .media__image;
  background-image: url('/assets/img/responding.gif');
  background-color: #222121;
}

.media__image--bitcoins {
  @extend .media__image;
  background-image: url('/assets/img/bitcoins.gif');
  background-size: 100%;
  background-color: #000;
}

.media__image--hux {
  @extend .media__image;
  background-image: url('/assets/img/huxtaburger.gif');
  background-size: 40%;
  background-color: #f14835;
}

.media__image--matt {
  @extend .media__image;
  background-image: url('/assets/img/matt.gif');
  background-size: 100%;
  background-color: #fff;
}

.media__image--ben {
  @extend .media__image;
  background-image: url('/assets/img/ben.gif');
  background-size: 100%;
  background-color: #fff;
}

.media__image--david {
  @extend .media__image;
  background-image: url('/assets/img/david.gif');
  background-size: 100%;
  background-color: #fff;
}

.media__image--brand {
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 50%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-color: #0d9da7;
  background-position: center;
  background-image: url('/assets/img/brand.png');
  background-size: 70%;
  background-color: #fff;
}


.media__title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 24px;
}

.media__subtitle {
  font-weight: 400;
  font-size: 16px;
}

.media__description {
  margin-top: 15px;
  font-size: 16px;
}

.section__title {
  font-size: 38px;
}


.footer__copy {
  @extend .media__title;
  margin-bottom: 50px !important;
}


// wat


.line {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100px;
  display: inline-block;
  border-left: 2px solid #0d9da7;
}

